.root {
    composes: p-xs from global;
}

.title {
    composes: font-normal from global;
    composes: px-2xs from global;
    composes: py-0 from global;
    composes: text-xl from global;
}

.pagination {
    composes: relative from global;
    composes: bottom-0 from global;
}

.placeholder {
    composes: h-screen from global;
}

.categoryTitle {
    composes: font-light from global;
    composes: leading-snug from global;
    composes: pb-xs from global;
    composes: text-colorDefault from global;
    composes: text-center from global;
    composes: text-xl from global;
}

.heading {
    composes: flex from global;
    composes: flex-wrap from global;
    composes: justify-center from global;
    composes: pb-2xs from global;

    composes: lg_flex-nowrap from global;
    composes: lg_items-center from global;
    composes: lg_justify-between from global;
    composes: lg_pb-sm from global;
    composes: lg_w-full from global;
}

.categoryContent {
    composes: lg_flex-grow from global;
}

.categoryInfo {
    flex-basis: 100%;
    composes: leading-tight from global;
    composes: max-w-[75vw] from global;
    composes: mx-0 from global;
    composes: my-xs from global;
    composes: text-center from global;

    composes: lg_m-0 from global;
    composes: lg_text-left from global;
}

.headerButtons {
    composes: flex from global;
    composes: justify-center from global;
    composes: pb-sm from global;
    flex-basis: 100%;

    composes: lg_justify-end from global;
    composes: lg_pb-0 from global;
}

.contentWrapper {
    composes: w-full from global;

    composes: lg_flex from global;
}

.sidebar {
    composes: hidden from global;

    composes: lg_flex from global;
    composes: lg_self-start from global;
    composes: lg_pt-16 from global;
    composes: lg_w-filterSidebarWidth from global;
}

.btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnMode {
    cursor: pointer;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    margin-left: 5px;
    padding: 0;
    background-color: transparent;
    border: 0;
    color: #222;
    transition: .3s ease all;
}

.btnMode:hover {
    background-color: #eeeeee;
}

.btnMode svg {
    color: #000000;
}

.btnMode:disabled {
    background-color: #000;
}

.btnMode:disabled svg {
    color: #ffffff;
}

.items {
    composes: gap-xs from global;
    composes: grid from global;
    composes: mb-3 from global;
    grid-area: items;
    grid-template-columns: repeat(3, 1fr);
}


.listView .items{
    display: flex;
    flex-direction: column;
}

.listView .galleryItem {
    width: 30%;
    margin: 0 auto 0 5%;
}
