main .header-animation {
    background: rgba(255,255,255,.95);
    animation-name: fadeInDown;
    animation-direction: normal;
    animation-play-state: running;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-duration: .7s;
    animation-delay: 0s;
    animation-timing-function: ease-out;
}



@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
